---
import { AlignRight, ArrowUpRight, ChevronDown } from "lucide-astro";
import { Button } from "../ui/button";
import Logo from "./Logo";
import { navLists } from "@/lib/data";
const { pathname } = Astro.url;
import clsx from "clsx";

const escapeUrls =
  !/^\/admin(\/|$)/.test(pathname) &&
  !/^\/auth\//.test(pathname) &&
  pathname !== "/register" &&
  pathname !== "/login";
---

{
  escapeUrls && (
    <main>
      <div
        class={clsx(
          pathname === "/listings"
            ? "bg-listing-header-color text-black"
            : "bg-footer-bg text-white",
        )}
      >
        <div class="bodySize flex items-center justify-between h-14 px-4">
          <Logo />

          <div class="hidden md:flex">
            <ul class="flex items-center gap-8 text-sm">
              {navLists.map((item) => (
                <div>
                  {item.isButton && item.withIcon && (
                    <a href={item.url}>
                      <Button className="rounded-full flex gap-2 items-center">
                        {item.title}
                        <ArrowUpRight />
                      </Button>
                    </a>
                  )}

                  {!item.isButton && item.withIcon && (
                    <a href={item.url} class={``}>
                      <li class="flex items-center">
                        {item.title} <ChevronDown />
                      </li>
                    </a>
                  )}

                  {!item.isButton && !item.iconName && (
                    <a href={item.url} class={``}>
                      <li>{item.title}</li>
                    </a>
                  )}
                </div>
              ))}
            </ul>
          </div>

          <div class="md:hidden">
            <AlignRight />
          </div>
        </div>
      </div>
    </main>
  )
}
